.center {
  width: 75%;
  margin: 0px auto;
}

#contenido {
  width: 100%;
  float: left;
  min-height: 450px;
  margin-right: 20px;
}

.image-wrap {
  width: 75%;
}

.image-wrap img {
  width: 50%;
  height: 210px;
  object-fit: cover;
}