<app-header />
<div class="container">
  <div id="contenido">
    <h1 class="titulo-categoria">{{ globalText.products }} de: {{ category.nombre }}</h1>
    <div class="productos">
      <div id="listProductos">
        <article class="item-prod" *ngFor="let prod of productos">
          <div class="image-wrap">
            <img [src]="prod.ruta_imagen ? prod.ruta_imagen : imagenDefault" alt="comida" />
          </div>
          <div class="text-content">
            <h2>{{ prod.nombre }}</h2>
            <div class="cont-spanProd">
              <span class="span-cardProd">{{ globalText.description }}: {{ prod.descripcion }}</span>
            </div>
            <span class="precio-prod">{{ globalText.price }}: {{ prod.precio }}</span>
            <span class="stock-prod">{{ globalText.stock }}: {{ prod.stock }}</span>
            <span><b>- {{ globalText.category }}: {{ category.nombre }}</b></span>
            <button (click)="eliminarProducto(prod.id)">+ {{ globalText.delete }}</button>
          </div>
        </article>
      </div>      
    </div>
  </div>
</div>
<app-footer />