.header-container {
  background: #ed6114;
  color: #ffffff;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1450px;
  margin: auto;
}

.header a {
  color: #f5e2c6;
  text-decoration: none;
  margin: 0 1em;
  font-family: "IBM Plex Mono, sans-serif";
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.header a:hover {
  color: #664d36;
  text-decoration: underline;
}

.logo {
  width: 180px;
  filter: brightness(1.3) contrast(1.2);
  transition: filter 0.3s;
}