<header class="header">
  <div class="header-container"> 
    <div class="header-content">
        <div>
          <a href="#home"><img class= "logo" src="https://www.dicsys.com/assets/img/tinylogo.png" alt="Logo Dicsys"></a>
        </div>
        <nav class="login-cart">
            <a href="#store" (click)="navigateHome()">{{ globalText.category }}</a>
            <a href="#login">{{ globalText.login }}</a>
            <a href="#cart">{{ globalText.cart }}</a>
            <a href="productos/add">{{ globalText.add }}</a>
        </nav>
    </div>
  </div>
</header>
