.slider {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.slide-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  max-width: 80%;
}

.slide-text h2 {
  font-size: 8rem;
  margin-bottom: 0.5em;
  font-family: "Irish Grover", system-ui;
}

.slide-text p {
  font-family: "Irish Grover", system-ui;
  font-size: 31px;
}