#footer {
  background: #ed6114;
  padding: 1rem 9;
  position: relative;
  margin-top: 0;
  bottom: 0;
  text-align: center;
  padding: 16px;
  width: 100%;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.social-links {
  margin: 1rem;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}