.intro {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.main-title {
  font-family: "Irish Grover", system-ui;
  font-size: 4rem;
  color: #FF4500;
}

.sub-title {
  font-size: 1.2rem;
  color: #666666;
}

/* Tarjetas */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 10%;
}

.cardd {
  font-family: "IBM Plex Mono, sans-serif";
  width: 75%;
  background-color: #edd2b4;
  max-width: 260px;
  max-height: 308px;
  margin: 50px;
  padding: 24px;
  border-radius: 0.4rem;
  overflow: hidden;
  transition: all 100ms ease;
  cursor: default;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
}


.cardd img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.card-nombre-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-nombre-boton h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

.card-nombre-boton button {
  margin-top: 10px;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 22%;
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 0px 0px 1px black inset;
}


.card-nombre-boton button:hover {
  background-color: #f5a804;
}

.cardd:hover {
  transform: scale(1.05);
}