<app-header />
<app-slider />
<div id="home">
  <div class="intro">
    <h1 class="main-title">{{ globalText.categoryTitle }}</h1>
  </div>

  <div id="contenido">
    <div class="card-container">
      <div class="cardd" *ngFor="let categoria of categorias">
        <img [src]="categoria.ruta_imagen ? categoria.ruta_imagen : imagenDefault" alt="comida" />
        <div class="card-nombre-boton">
          <h3>{{ categoria.nombre }}</h3>
          <button (click)="navigateProducts(categoria)">
            {{ globalText.viewProducts }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />