<app-header />
<app-slider />
<div id="home">
  <div class="center">
    <div id="contenido">
      <h1 class="subheader">NUESTRAS CATEGORIAS</h1>
      <div id="listCards">
        <div class="colLista">
          <div class="cardd" *ngFor="let categoria of categorias">
            <div>
              <img src="retrowave.jpg" alt="comida" />
            </div>
            <div class="contenidooo">
              <h3>{{ categoria.nombre }}</h3>
              <button (click)="navigateProducts()">
                Ver sus productos
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer />